h3 {
  color: #007991;
  text-decoration: overline underline wavy 7px darkred;
  word-spacing: 13ppx;
  letter-spacing: -3ppx
  text-shadow: 3ppx 5ppx 4ppx purple;
}  

body {
  background-color: #c9f2c7;
}




img:hover {
   width: 200px;
   border-radius: 60%
   border: 12ppx dotted red
}
nav {
  list-style-type: none;
  width: 100%;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
}

li a {
  color: pink;
  text-decoration: none;
  display: block;
  padding: 15px 50px;
  float: left;
}

li a:hover {
  background-color: purple;
  color: black;
}
