h3 {
  color: #007991;
  text-decoration: overline underline wavy 7px darkred;
}  

body {
  background-color: #c9f2c7;
}




img:hover {
   width: 200px;
   border-radius: 60%
   border: 12ppx dotted red
}
